.frog {
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  .body {
    width: 150px;
    height: 80px;
    background-color: #ff6347; /* Rosso corallo */
    border-radius: 10px;
    position: relative;
    border: 2px solid black;
  }
  
  .body.green {
    background-color: #53bd53; /* Verde chiaro */
  }
  
  .eye {
    width: 40px;
    height: 40px;
    background-color: #ffbbbb;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: -26px;
  }
  
  .eye.left {
    left: -16px;
  }
  
  .eye.right {
    right: -16px;
  }

  .green > .eye{
    background-color: #cef5ce;
  }
  
  .pupil {
    width: 15px;
    height: 15px;
    
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  
  .mouth {
    width: 40px;
    height: 5px;
    background-color: #000;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }