
@media screen and (max-width: 480px){
    body{
        margin: 0;
        padding: 0;
        background-color: #ccfadd;
    }
    
    header{
        display: flex;
        flex-direction: column;
        width: fit-content;
        column-gap: 10px;
        justify-content: space-between;
        width: auto;
        margin: auto;
        padding: 10px;
        background-color: #144116;
        text-align: center;
        
    }

    hr{
        width: 80%;
    }
    header > .menu{
        float: right;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        align-items: center;
        text-transform: capitalize;
        text-align: center;
    }

    header > .logo{
        float: left;
        font-family: "Permanent Marker", cursive;
        color: rgb(8, 160, 160);
        font-size: 30px;
    }
    
    .menu > .cell{
        background-color: #26cf16;
        padding: 10px;
        border-radius: 50px;
        width: max-content;
        font-size: 20px;
        color: rgb(8, 99, 160);
        font-family: "Permanent Marker", cursive;
        
    }

    main{
        display: grid;
        grid-template-rows: 2fr 1fr;
        width: 90%;
        height: 400px;
        border: 2px solid black;
        margin: 20px;
        border-radius: 10px;
        background-color: gray;
    }

    main > article{

        text-align: center;
        font-size: 20px;
        align-content: center;
        border: 2px solid black;
        margin: 20px;
        background-color: aliceblue;
        border-radius: 10px;
    }

    .menu > .cell:hover{
        background-color: #2ac565;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-family: "Permanent Marker", cursive;
        transition: 0.4s;
        border-radius: 4px;
    }

    .computer{
        display: none;
    }
}


@media screen and (min-width:480px){
    header{
        display: none;
    }
    main{
        display: none;
    }
}