
body{
    margin: 0;
    padding: 0;
}

header{
    background-color: antiquewhite;
    font-size: 30px;
    text-align: center;
}

nav{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background-color: antiquewhite;
    
}

nav > ul{
    
    padding: 10px;
    font-size: 18px;
    background-color: burlywood;
    border-radius: 8px;

    

}

ul:hover{
    cursor: pointer;
    padding: 12px;
    transition: 1s;
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

section{
    border: 1px solid black;
    padding: 20px;
}
article{
    border: 1px solid black;
    padding: 20px;
}